h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto','Helvetica Neue',Arial,sans-serif;
}
body {
    font-family: 'Roboto','Helvetica Neue',Arial,sans-serif;
}
.resposive-img {
    /*height: auto;*/
    max-width: 100%;
}
hr {
    max-width: 50%;
}
a:link   
{   
 text-decoration:none;   
} 
#mainNav {
    font-family: 'Roboto','Helvetica Neue',Arial,sans-serif;
        background-color: #ff4c00;
}
#mainNav.navbar-shrink {
    border-color: rgba(34,34,34,.05);
    background-color: #ff4c00;
}
#mainNav .navbar-nav>li.nav-item>a.nav-link, #mainNav .navbar-nav>li.nav-item>a.nav-link:focus {
    font-size: 15px;
    font-weight: 700;
    text-transform: none;
    color: #fff!important;
    margin-right: 20px;
}
.fw4{
    font-weight: 400!important;
}
.fw2{
    font-weight: 200!important;
}
.fw3{
    font-weight: 300!important;
}
.fw9{
    font-weight: 900!important;
}
#mainNav .navbar-brand {
    font-weight: 700;
    text-transform: uppercase;
    color: #fff!important;
}
header.masthead .header-content .header-content-inner h1 {
    color: #3d3c3c;
        text-transform: none;
}
.naranja{
    color: #ff4c00;
}
.easy{
    color: #ff4c00;
    font-weight: 900;
    -webkit-text-stroke: 2px #fff;
}
.box-header-4{
    background: rgba(255, 255, 255, 0.82);
    padding-top: 50px;
    padding-bottom: 30px;
    margin-top: 50px;
}
.box-header-3{
    padding-top: 50px;
    padding-bottom: 30px;
    margin-top: 50px;
    text-align: center;
}
.box-header h3{
    color: #5c5c5c;
        text-transform: uppercase;
}
.text-black{
    color: #3d3c3c;
}
.my{
    text-transform: uppercase;
}
.my-n{
    text-transform: none!important;
}
.center{
    text-align: center;
}
.box-service{
    padding: 20px;
    border: 1px solid #ff4c00;
    color: #ff4c00;
    border-radius: 10px;
    font-weight: 700;
}
.bg-footer{
    background: #ff4c00;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #fff;
}
.text1-how{
    font-size: 40px;
    font-weight: 300;
    padding-left: 15px;
     margin-bottom: 0px;
}
.text2-how{
    font-size: 40px;
    font-weight: 400;
    padding-left: 15px;
    color: #ff4c00;
    margin-bottom: 0px;
    margin-top: -5px;
}
.text3-how{
    font-size: 25px;
    font-weight: 300;
}
.text4-how{
    font-size: 40px;
    font-weight: 400;
    color: #ff4c00;
    text-transform: uppercase;
}
.numero-how{
    position: absolute;
    left: 45px;
    top: 12px;
}
 .pl25{
        padding-left: 25px;
}
.box-price{
    background: #ff4c00;
    color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
}
.box-price  h1{
    font-size: 100px;
}
.box-price  span{
    font-size: 30px;
}
.price-collapse{
    background: #ff4c00;
    color: #fff;
    padding: 18px;
    border-radius: 5px;
    display: inherit;
}
.price-collapse a{
    font-size: 20px;
    font-weight: 700;
}
.price-collapse-p{
    font-size: 19px;
    font-weight: 300;
    margin-bottom: 5px;
}
.pull-right{
        float: right;
}
.prl20{
    padding-left: 45px;
    padding-right: 50px;
        margin: 0 auto;
}
.form-control {
    border-radius: 0px;
    box-shadow: 0px 1px 15px rgba(136, 136, 136, 0.52);
        border: 1px solid rgba(0, 0, 0, 0.08);
}
.btn-primarys {
    color: #fff;
    border-color: #ff4c00;
    background-color: #ff4c00;
        border-radius: 2px;
        padding-left: 35px;
        padding-right: 35px;
            text-transform: none;
            font-weight: 200;

}
header.masthead .header-content .header-content-inner h1 {
    font-size: 40px;
}
.collapsed{
    background:#c8c8c8!important;
}


@media (min-width: 768px){
    header.masthead .header-content .header-content-inner h1 {
        font-size: 70px;
        text-align: left;
    }
    .easy{
        font-size: 140px;
        position: absolute;
        margin-top: -35px;
        margin-left: 10px;
    }
    .fs70{
        font-size: 70px;
    }
    .fs50{
        font-size: 50px;
    }
    .fs35{
        font-size: 35px;
    }
    .box-redes-footer i {
        font-size: 30px;
        margin-left: 20px;
    }
    .hr-footer{
           max-width: 25%;
    }
    .npi{
        float: right;
        margin-top: -150px;
    }
    .display-r{
        display: none;
    }
   
}
@media (max-width: 768px){
    .rmap{

        padding-right: 0px;
    }
}
@media (max-width: 550px){
    #mainNav{
        background-color: #ff4c00!important;
    }
    .text1-how,.text2-how,.text4-how{
        font-size: 30px;
    }
    .numero-how{
            width: 60px; 
            position: relative;
            left: 0;
            margin-bottom: 20px;       
    }
    .box-redes-footer i {
        font-size: 25px;
        margin-left: 20px;
    }
    .none{
        display: none;
    }
    .display-r{
        display: relative!important;
    }
    .box-price  h1{
        font-size: 50px;
    }
    .rmt50{
            margin-top: 50px;
    }
}